<app-navbar></app-navbar>
<!-- hago llamar al parametroSeleccionado -->
<app-formulario (parametrosSeleccionados)="buscarNoticia($event)"></app-formulario>
<!-- una vez colocado el metodo buscarNoticia, debo crearlo en el componente padre, .ts del html -->
<app-spinner *ngIf="loading"></app-spinner>
<!-- *ngIf para que solo me muestre el spinner cuando el loading sea verdadero -->
<app-listado-noticias [listNoticias]="listNoticias"></app-listado-noticias>
<!-- lo que está dentro de corchetes debe corresponderse a listNoticias del @Input() "ListNoticias"....."""listado-noticias.ts""" -->
<!-- y el que está entre comillas es el listNoticias de la variable del componente padre de """app.component.ts""" del COMPTONENTE PADRE  -->
