.container{
  margin-top: 20px;
}
h4{
  color: rgb(43, 106, 187);
  text-decoration: underline;
}
.form-label{
  margin-left: 8px;
  color: rgb(43, 106, 187);
  font-weight: 500;
}
.card-body{
  background-color: rgba(43, 105, 187, 0.078);
}

.btn{
  font-weight: 500;
  width: 150px;
}
.btn:hover{
  color: white;
}
form{
  margin-left:150px;
  margin-right:150px;

}



